# python
__pycache__/
*.py[cod]
*$py.class

# entornos virtuales
venv/
.venv/

# variables de entorno
.env

# testing
.pytest_cache/
.coverage
htmlcov/

# vscode
.vscode/
.idea/

# os
.DS_Store
Thumbs.db
